<footer class="footer bg-dark p-3 mt-auto" data-bs-theme="dark">
    <section class="container-fluid">
        <span class="text-secondary">
            &copy; Best Point - <%= new Date().getFullYear() %>
        </span>
    </section>
</footer>