<% layout('layouts/layout') %>

<div class="row container">
   <div class="alert alert-danger" role="alert">
    <h3 class="alert-heading"><%= err %></h3>
    <hr>
    <p><%= err.stack %></p>
   </div>
</div>